<div class="control-group">
    <input type="text" class="input-block-level" required="required" id="task-description" name="task[description]" value="<%= @task.description unless @task.nil? %>" />
</div>

<div class="control-group span4">
    <div class="input-prepend">
      <span class="add-on">Project</span>
      <input type="text" id="task-project" name="task[project]" value="<%= @task.project unless @task.nil? %>" autocomplete="off" />
    </div>
</div>


<div class="control-group span4">
    <div class="input-prepend">
      <span class="add-on">Due date</span>
      <input class="date-picker" type="text" id="task-due" name="task[due]" value="<%= format_date(@task.due) unless @task.nil? || @task.due.blank? %>" data-date-format="<%= @date_format %>" />
    </div>
</div>

<div class="control-group span4">
    <div class="input-prepend">
      <span class="add-on">Hide until</span>
      <input class="date-picker" type="text" id="task-wait" name="task[wait]" value="<%= format_date(@task.wait) unless @task.nil? || @task.wait.blank? %>" data-date-format="<%= @date_format %>" />
    </div>
</div>

<div class="control-group span4">
  <div class="btn-group" data-toggle="buttons-radio">
    <button name="task[priority]" type="button" value="" class="btn <% if @task.nil? || @task.priority.blank? %>active<% end %>">None</button>
    <% {'L' => 'Low', 'M' => 'Medium', 'H' => 'High'}.each_pair do |value, label| %>
      <button name="task[priority]" type="button" value="<%= value %>" class="btn <% if @task && @task.priority == value %>active<% end %>"><%= label %></button>
    <% end %>
  </div>
</div>

<div class="control-group span4">
    <div class="input-prepend">
      <span class="add-on">Tags</span>
      <input type="text" id="task-tags" name="task[tags]" value="<%= @task.tags.join(', ') unless @task.nil? %>" autocomplete="off" />
    </div>
</div>
