<%= progress_bar(@tasks, @title) %>

<div id="listing">
  <table class="table table-striped table-hover table-sortable">
    <thead>
      <tr>
        <th class="no-sort"></th>
        <th class="no-sort"></th>
        <th class="no-sort" style="width: 100%">Description</th> 
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr class="<%= colorize_date(task.due) if task.active? %> <%= task.status %>">
          <td>
            <% if task.status == 'pending' %>
              <input type="checkbox" class="complete" data-task-id="<%= task.uuid %>" />
            <% end %>
          </td>
          <% if @can_edit %><td><%= crud_links(task) if task.active? %></td><% end %>
          <td>
            <%= task.description %>
            <% unless task.annotations.empty? %>
              <ul>
                <% task.annotations.each do |annotation| %>
                  <li>
                    <small>
                    <%= format_date(annotation.entry) %>: <%= auto_link(ERB::Util.h(annotation.description)) %>
                    &nbsp;
                    <a href="/tasks/<%= task.uuid %>/annotations/<%= Base64.encode64(annotation.description) %>" data-method="DELETE" data-confirm="Are you sure you want to delete this annotation?"><i class="icon-trash"></i></a>
                    </small>
                  </li>
                <% end %>
              </ul>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if @can_edit %>
  <div id="annotations-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="annotations-modal-label" aria-hidden="true"></div>
  <div id="task-modal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="task-modal-label" aria-hidden="true"></div>
<% end %>
